
/* table, th, td { */
/*     border: 1px solid black; */
/* } */
a {
    cursor: pointer;
}

body {
    padding: 0 15px;
    margin-bottom: 100px;
}

.container {
    padding: 0;
}

h2 {
    border-bottom: 1px solid #ccc;
}

header {
    margin-top: 25px;
    text-align: center;
}

header a {
    color: black;
}

header a:hover {
    color: black;
    cursor: default;
    text-decoration: none;
}

header a:focus {
    color: black;
    text-decoration: none;
}

.highlight {
  background-color: #ffffcc;
}

.list-group-item {
    font-size: 0.8em;
    font-weigth: light;
}

@media (min-width: 768px) {
    .container {
	max-width: 770px;
    }
}

.mono, .dotted-binary {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}
